.css3-notification-country-1st {
	text-align: center;
	padding: 10px;
	color: #FFFFFF;
	box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	position: relative;
	font-weight: bold;
	font-size: 1em;
	text-align:center;
  color: transparent;
  opacity: 0;

	
  -webkit-animation: bounce 800ms ease-out 1s forwards;;
	-moz-animation: bounce 800ms ease-out 1s forwards;;
	-o-animation: bounce 800ms ease-out 1s forwards;;
	animation: bounce 800ms ease-out 1s forwards;;
}



.css3-notification-player-1st {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 3em;
  text-align:center;
  color: transparent;

  -webkit-animation: bounce 800ms ease-out 1s forwards;
  -moz-animation: bounce 800ms ease-out 1s forwards;
  -o-animation: bounce 800ms ease-out 1s forwards;
  animation: bounce 1800ms ease-out 1s forwards;
}







.css3-notification-country-2nd {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 1em;
  text-align:center;
  color: transparent;
  opacity: 0;

  
  -webkit-animation: bounce 800ms ease-out 5s forwards;
  -moz-animation: bounce 800ms ease-out 5s forwards;
  -o-animation: bounce 800ms ease-out 5s forwards;
  animation: bounce 800ms ease-out 5s forwards;
}



.css3-notification-player-2nd {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 3em;
  text-align:center;
  color: transparent;

  -webkit-animation: bounce 800ms ease-out 5s forwards;
  -moz-animation: bounce 800ms ease-out 5s forwards;
  -o-animation: bounce 800ms ease-out 5s forwards;
  animation: bounce 1800ms ease-out 5s forwards;
}







.css3-notification-country-3rd {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 1em;
  text-align:center;
  color: transparent;
  opacity: 0;

  
  -webkit-animation: bounce 800ms ease-out 9s forwards;
  -moz-animation: bounce 800ms ease-out 9s forwards;
  -o-animation: bounce 800ms ease-out 9s forwards;
  animation: bounce 800ms ease-out 9s forwards;
}



.css3-notification-player-3rd {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 3em;
  text-align:center;
  color: transparent;

  -webkit-animation: bounce 800ms ease-out 9s forwards;
  -moz-animation: bounce 800ms ease-out 9s forwards;
  -o-animation: bounce 800ms ease-out 9s forwards;
  animation: bounce 1800ms ease-out 9s forwards;
}




.css3-notification-country-4th {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 1em;
  text-align:center;
  color: transparent;
  opacity: 0;

  
  -webkit-animation: bounce 800ms ease-out 13s forwards;
  -moz-animation: bounce 800ms ease-out 13s forwards;
  -o-animation: bounce 800ms ease-out 13s forwards;
  animation: bounce 800ms ease-out 13s forwards;
}



.css3-notification-player-4th {
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
  position: relative;
  font-weight: bold;
  font-size: 3em;
  text-align:center;
  color: transparent;

  -webkit-animation: bounce 800ms ease-out 13s forwards;
  -moz-animation: bounce 800ms ease-out 13s forwards;
  -o-animation: bounce 800ms ease-out 13s forwards;
  animation: bounce 1800ms ease-out 13s forwards;
}







/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateX(-100%);
    opacity: 0;
    color:white;
  }
  5% {
  	-webkit-transform:translateX(-100%);
    opacity: 0;
    color:white;
  }
  15% {
  	-webkit-transform:translateX(0);
    padding-bottom: 5px;
    color:white;
  }
  30% {
  	-webkit-transform:translateX(-50%);
    color:white;
  }
  40% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 6px;
    color:white;
  }
  50% {
  	-webkit-transform:translateX(-30%);
    color:white;
  }
  70% {
  	-webkit-transform:translateX(0%);
    padding-bottom: 7px;
    color:white;
  }
  80% {
  	-webkit-transform:translateX(-15%);
    color:white;
  }
  90% {
  	-webkit-transform:translateX(0%);
  	padding-bottom: 8px;
    color:white;
  }
  95% {
  	-webkit-transform:translateX(-10%);
    color:white;
  }
  97% {
  	-webkit-transform:translateX(0%);
  	padding-bottom: 9px;
    color:white;
  }
  99% {
  	-webkit-transform:translateX(-5%);
    color:white;
  }
  100% {
  	-webkit-transform:translateX(0);
  	padding-bottom: 9px;
    opacity: 1;
    color:white;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateX(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateX(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateX(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateX(-50%);
  }
  40% {
  	transform:translateX(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateX(-30%);
  }
  70% {
  	transform:translateX(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateX(-15%);
  }
  90% {
  	transform:translateX(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateX(-7%);
  }
  97% {
  	transform:translateX(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateX(-3%);
  }
  100% {
  	transform:translateX(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}