/* = body
------------------------*/
body{
  /*background:#1abc9c; */
  background:#000000;
}
.description{
  font-family: 'olivier';
  text-align:center;
  color:#ecf0f1;
  text-shadow:0 0.1em 0.2em #008c8d;
}
/* = Scroll body
------------------------*/
::-webkit-scrollbar{
  width:0.2em;
}
::-webkit-scrollbar-track{
  background-color:#bdc3c7;
}
::-webkit-scrollbar-thumb{
  background-color:#7f8c8d;
}
/* = table
------------------------*/

@font-face {
    font-family:"olivier";
    src: url("olivier.ttf"); /* TTF file for CSS3 browsers */
}
/* BUTTOM
/*------------------------*/


.buttomSD {
  -moz-box-shadow: -1px -7px 38px 1px #0f7aa1;
  -webkit-box-shadow: -1px -7px 38px 1px #0f7aa1;
  box-shadow: -1px -7px 38px 1px #0f7aa1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #45adc7), color-stop(1, #0a5461));
  background:-moz-linear-gradient(top, #45adc7 5%, #0a5461 100%);
  background:-webkit-linear-gradient(top, #45adc7 5%, #0a5461 100%);
  background:-o-linear-gradient(top, #45adc7 5%, #0a5461 100%);
  background:-ms-linear-gradient(top, #45adc7 5%, #0a5461 100%);
  background:linear-gradient(to bottom, #45adc7 5%, #0a5461 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#45adc7', endColorstr='#0a5461',GradientType=0);
  background-color:#45adc7;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:4px solid #0c929c;
  display:inline-block;
  cursor:pointer;
  color:#330533;
  font-family:Arial;
  font-size:17px;
  padding:26px 59px;
  text-decoration:none;
  text-shadow:0px 20px 41px #11808f;
}
.buttomSD:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0a5461), color-stop(1, #45adc7));
  background:-moz-linear-gradient(top, #0a5461 5%, #45adc7 100%);
  background:-webkit-linear-gradient(top, #0a5461 5%, #45adc7 100%);
  background:-o-linear-gradient(top, #0a5461 5%, #45adc7 100%);
  background:-ms-linear-gradient(top, #0a5461 5%, #45adc7 100%);
  background:linear-gradient(to bottom, #0a5461 5%, #45adc7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a5461', endColorstr='#45adc7',GradientType=0);
  background-color:#0a5461;
}
.buttomSD:active {
  position:relative;
  top:1px;
}

/*------------------------*/



.box-table table{
  border-collapse:collapse;
  text-align:left;
  width:100%;
  margin:0;
  padding:0;
  background:#7f8c8d;
  animation: responsive 5s infinite ease-in-out;
}
.box-table{
  font:normal 22px/150% Arial, Helvetica, sans-serif;
  overflow:hidden;
  margin:0 auto;
  display:block;
  width:95%;
  padding:2.5%;
}
.box-table table thead th{ /* TABLE HEADERS  */
  background-color:#7f8c8d;
  color:#bdc3c7;
  text-align:center;
  padding: 0.5em;
  font-family: 'olivier', serif;
  font-weight: bold;
  font-size: 2.0em;  
  height: 1.5em;
  vertical-align: top;
  border-left:0.25em double #95a5a6;

}
.box-table table tbody td{


}
.box-table table tbody tr{ /*PLAYERS */
  font-family: 'olivier', serif;
  font-size:1em;
  border:none;
  padding:1em;
}
.box-table table tbody tr:nth-child(odd){
  background:#ecf0f1;
  color:#95a5a6;
}
.box-table table tbody tr:nth-child(even){
  background:#bdc3c7;
  color:#7f8c8d;
}
.box-table table tbody tr a{
  text-decoration:none;
  color:#e67e22;
}
.box-table table tbody tr a:hover{
  color:#d35400;
}

.box-table .players-name{
  font-size: 1em;
  text-align:left;
}


.box-table .country-photo{
  background:#bdc3c7;
}

.box-table .line-description{
  background:#bdc3c7;
  font-size: 2em;
  text-align: center;
}

.box-table .user-tumb{
  width:6em;
  height:6em;
  padding:0;
  display:table-cell;
  text-align:center;
  margin:0 auto;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
}


/* = Responsive table
------------------------*/

/* http://elvery.net/demo/responsive-tables/  */
@media only screen and (max-width: 800px){
  .box-table table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  .box-table th,
  .box-table td{
    margin:0;
    vertical-align:top;
  }
  .box-table th{
    text-align:left;
  }
  .box-table table{
    display:block;
    position:relative;
    width:100%;
  }
  .box-table thead{
    display:block;
    float:left;
  }
  .box-table tbody{
    display:block;
    width:auto;
    position:relative;
    overflow-x:auto;
    white-space:nowrap;
  }
  .box-table thead tr{
    display:block;
  }
  .box-table th{
    display:block;
    text-align:right;
  }
  .box-table tbody tr{
    display:inline-block;
    vertical-align:top;
  }
  .box-table td{
    display:block;
    min-height:1.25em;
    text-align:left;
  }
  .box-table th{
    border-bottom:0;
    border-left:0;
  }
  .box-table td{
    border-left:0;
    border-right:0;
    border-bottom:0;
  }
}
/* = Error
------------------------*/
.error_table {
  display: block;
  background: #E05E5E;
  color: #D1D1D1;
  font-family: 'olivier', serif;
  text-align: center;
  font-size: 3em;
  width: 90%;
  padding: 5%;
}
/* = Loader
------------------------*/
.loading_table{
  background:#d35400;
  color:#ecf0f1;
  font-family: 'olivier', serif;
  text-align: center;
  font-size: 1em;
  width: 0;
  display: block;
  overflow: hidden;
  height: 1em;
  padding:0.5em;
  animation: table_loader 10s infinite ease;
}
@keyframes table_loader{50%{width:100%}}
@-webkit-keyframes table_loader{50%{width:100%}}
@-moz-keyframes table_loader{50%{width:100%}}
@-ms-keyframes table_loader{50%{width:100%}}
@-o-keyframes table_loader{ 50%{width:100%}}


@-webkit-keyframes bounceOut {
            0% {
               -webkit-transform: scale(1);
            }
            25% {
               -webkit-transform: scale(.95);
            }
            50% {
               opacity: 1;
               -webkit-transform: scale(1.1);
            }
            100% {
               opacity: 0;
               -webkit-transform: scale(.3);
            }
         }
         
 @keyframes bounceOut {
            0% {
               transform: scale(1);
            }
            25% {
               transform: scale(.95);
            }
            50% {
               opacity: 1;
               transform: scale(1.1);
            }
            100% {
               opacity: 0;
               transform: scale(.3);
            }
         }
.bounceOut {
            -webkit-animation-name: bounceOut;
            animation-name: bounceOut;
         }
